fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff;
	border-radius: 0;
	font-size: 0.875rem;
	letter-spacing: 0.05em;
	line-height: 1.875;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 0.625rem;
	resize: none;
	width: 100%;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"] {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	border: none;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	margin: 0;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #3498db;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #3498db;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #3498db;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* リキッドレイアウト対応 */

html {
	font-size: 4.26667vw;
}

html {
	-webkit-font-smoothing: antialiased;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #000;
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
}

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */

html,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role="list"],
ol[role="list"] {
	list-style: none;
}

ul,
ol {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0;
	list-style: none;
	margin-block-end: 0;
	margin-block-start: 0;
	padding-inline-start: 0;
}

/* Set core root defaults */

html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */

body {
	line-height: 1.5;
	min-height: 100vh;
	text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */

a {
	color: #fff;
	text-decoration: none;
}

a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture {
	display: block;
	max-width: 100%;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */

.l-404 {
	margin: 5rem 0;
}

.l-blog {
	margin-top: 6.1875rem;
}

.l-breadcrumb {
	margin-top: 1rem;
}

.l-breadcrumb.l-breadcrumb--single {
	margin-top: 4.125rem;
}

.l-contact {
	margin-top: 7.5rem;
}

.l-content {
	margin-top: 9.375rem;
}

.l-drawer {
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.l-gallery {
	margin-top: 1rem;
}

.l-header {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 50;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	width: 540px;
}

.l-news {
	margin-top: 1.5rem;
}

.l-pagenavi {
	margin-top: 5.3125rem;
}

.l-post-links {
	margin-top: 5rem;
}

.l-related-article {
	margin-top: 7.5rem;
}

.l-single {
	margin-top: 3.3125rem;
}

.l-sub-blog {
	margin-top: 5.3125rem;
}

.l-sub-contact {
	margin-top: 5.3125rem;
}

.l-sub-content {
	margin-top: 5.3125rem;
}

.l-sub-news {
	margin-top: 5.3125rem;
}

.l-sub-overview {
	margin-top: 5.3125rem;
}

.l-sub-works {
	margin-top: 5.3125rem;
}

.l-thanks {
	margin: 5rem 0;
}

.l-works {
	margin-top: 7.5rem;
}

.c-btn-contact {
	background-color: #fff;
	cursor: pointer;
	font-size: 1.25rem;
	letter-spacing: 0.1em;
	line-height: 1.45;
	padding: 0.625rem 0;
	width: 100%;
}

.c-button-main {
	background-color: #333;
	border: 1px solid #fff;
	display: block;
	font-size: 1.25rem;
	line-height: 1.45;
	padding: 0.625rem;
	text-align: center;
}

.c-content-text {
	font-size: 1rem;
	letter-spacing: 0.125em;
	line-height: 2.1875;
}

.c-content-title {
	font-size: 1.25rem;
	font-weight: normal;
	letter-spacing: 0.1em;
	line-height: 1.45;
	text-align: center;
}

.c-hamburger {
	z-index: 100;
}

.c-hamburger span {
	background: #fff;
	display: block;
	height: 2px;
	position: relative;
	transition: ease .3s;
	width: 24px;
}

.c-hamburger span:nth-child(1) {
	top: 0;
}

.c-hamburger span:nth-child(2) {
	margin: 4px 0;
}

.c-hamburger span:nth-child(3) {
	top: 0;
}

/*OPEN時の動き*/

.c-hamburger.open span:nth-child(1) {
	top: 5px;
	transform: rotate(45deg);
}

.c-hamburger.open span:nth-child(2) {
	opacity: 0;
	transform: translateY(-50%);
}

.c-hamburger.open span:nth-child(3) {
	top: -7px;
	transform: rotate(-45deg);
}

.c-page-top-button {
	align-items: center;
	background-color: #fff;
	bottom: 2.5625rem;
	display: flex;
	height: 2.8125rem;
	justify-content: center;
	position: fixed;
	right: 1.3125rem;
	width: 2.8125rem;
	z-index: 40;
}

.c-page-top-button__img {
	background-image: url(../img/common/page-top.png);
	background-position: center;
	background-size: cover;
	display: inline-block;
	height: 0.75rem;
	margin-left: -0.0625rem;
	transition: .3s;
	width: 1.5rem;
}

.c-test {
	color: red;
	font-size: 1.25rem;
}

.p-404 {
	text-align: center;
}

.p-404__title {
	color: rgba(249, 248, 113, 0.3);
	font-size: 2.5rem;
	letter-spacing: 0.05em;
	margin-bottom: 5rem;
}

.p-404__text {
	font-size: 1.25rem;
	letter-spacing: 0.1em;
	line-height: 1.45;
	margin-bottom: 5rem;
}

.p-404__button {
	text-align: center;
}

.p-blog__cards {
	margin-top: 4rem;
}

.p-blog__button {
	margin-top: 1.5rem;
	text-align: center;
}

.p-breadcrumb {
	font-size: 1rem;
}

.p-card {
	background-color: #fff;
	color: #333;
	display: flex;
	flex-direction: column;
	transition: .3s;
}

.p-card__img {
	position: relative;
	width: 100%;
}

.p-card__img::before {
	content: "";
	display: block;
	padding-top: 66.571429%;
}

.p-card__img.p-card__img--related::before {
	padding-top: 58.964143%;
}

.p-card__img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-card__title {
	font-size: 1.125rem;
	font-weight: 500;
	letter-spacing: 0.0555556em;
	line-height: 1.944444;
	margin-top: 0.25rem;
	padding: 0 1.5rem;
}

.p-card__box {
	margin-top: auto;
	padding: 0 1.5rem 1rem;
}

.p-card__excerpt {
	font-size: 0.875rem;
	letter-spacing: 0.07142857em;
	line-height: 1.85714286;
	margin-top: 0.25rem;
}

.p-card__price {
	font-size: 0.875rem;
	letter-spacing: 0.07142857em;
	line-height: 1.85714286;
	margin-top: 0.25rem;
	padding: 0 1.5rem;
}

.p-card__meta {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-top: 0.625rem;
}

.p-card__category {
	background-color: #F9F871;
	color: #000;
	font-size: 0.875rem;
	line-height: 1.5625rem;
	padding: 0 0.375rem;
}

.p-card__date {
	font-size: 0.875rem;
	letter-spacing: 0.07142857em;
	line-height: 1.85714286;
}

.p-card__pet-meta {
	display: flex;
	flex-wrap: wrap;
}

.p-card__pet-info {
	color: #000;
	display: inline-block;
	font-size: 0.875rem;
	line-height: 1.5625rem;
	margin-right: 0.625rem;
	margin-top: 0.625rem;
	padding: 0 0.375rem;
}

.p-card__pet-info--breed {
	background-color: #F9F871;
}

.p-card__pet-info--gender {
	background-color: #FFBA6A;
}

.p-card__pet-info--color {
	background-color: #7fffd4;
}

.p-card__pet-info--shop {
	background-color: #8a2be2;
}

.p-card__pet-info--other {
	background-color: #9acd32;
}

.p-cards__card:not(:first-child),
.p-cards__card--related:not(:first-child) {
	margin-top: 1.5rem;
}

.p-category {
	margin-top: -1rem;
}

.p-category__link {
	display: inline-block;
	font-size: 1rem;
	letter-spacing: 0.125em;
	line-height: 1.4375;
	margin-right: 2.5rem;
	margin-top: 1rem;
}

.p-category__link--current {
	background-color: #fff;
	color: #333;
	padding: 0.1875rem 0.625rem;
}

.p-contact {
	background-color: #3d3d3d;
	padding: 4.1875rem 0 4rem;
}

.p-contact__text {
	margin-top: 1.25rem;
	text-align: center;
}

.p-contact__button {
	margin-top: 2.5rem;
	text-align: center;
}

.p-content {
	position: relative;
}

.p-content::before {
	background-image: linear-gradient(to right top, transparent 49.9%, rgba(249, 248, 113, 0.5) 50%, rgba(249, 248, 113, 0.5) calc(50% + 1px), transparent calc(50.1% + 1px));
	content: "";
	display: block;
	height: 180%;
	position: absolute;
	top: -3.125rem;
	width: 100%;
	z-index: -1;
}

.p-content__wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3rem;
}

.p-content__link {
	align-items: center;
	background-position: center;
	background-size: cover;
	display: flex;
	font-size: 1.25rem;
	justify-content: center;
	letter-spacing: 0.1em;
	position: relative;
	width: 50%;
}

.p-content__link--1 {
	background-image: url(../img/common/content-img1.jpg);
}

.p-content__link--2 {
	background-image: url(../img/common/content-img2.jpg);
}

.p-content__link--3 {
	background-image: url(../img/common/content-img3.jpg);
}

.p-content__link--4 {
	background-image: url(../img/common/content-img4.jpg);
}

.p-content__link::before {
	content: "";
	display: block;
	padding-top: 89.361702%;
}

.p-drawer {
	background-color: #000;
	display: none;
	height: 100vh;
	width: 100%;
}

.p-drawer__items {
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-drawer__item {
	height: inherit;
}

.p-drawer__item a {
	display: block;
	letter-spacing: 0.125em;
	line-height: 1.4375;
	padding: 1rem 0;
}

.p-field__title {
	background-color: #000;
	border: 1px solid #fff;
	border-radius: 2rem;
	display: inline-block;
	font-size: 1.25rem;
	letter-spacing: 0.02em;
	line-height: 1.45;
	margin-left: 1.5rem;
	padding: 0.5rem 1.5rem;
}

.p-field__text {
	border: 1px solid #fff;
	margin-top: -1.5rem;
	padding: 3.3125rem 0.625rem 2rem;
}

.p-footer-nav__item {
	height: inherit;
}

.p-footer-nav__item a {
	display: block;
	letter-spacing: 0.125em;
	line-height: 1.4375;
	padding: 0.25rem 0;
}

.p-footer {
	padding-bottom: 3rem;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3rem;
	width: 100%;
}

.p-footer__wrapper {
	text-align: center;
}

.p-footer__logo {
	display: inline-block;
}

.p-footer__copyright {
	font-size: 0.6875rem;
	letter-spacing: 0.10909090;
	line-height: 1.45454545;
	margin-top: 2rem;
	text-align: center;
}

.p-gallery {
	width: 100%;
}

.p-gallery__inner {
	height: inherit;
	margin: 0 auto;
	width: 100%;
}

.p-gallery__slider {
	width: 100%;
}

.p-gallery__slider .swiper-slide {
	position: relative;
	width: 100%;
}

.p-gallery__slider .swiper-slide::before {
	content: "";
	display: block;
	padding-top: 66.9333333%;
}

.p-gallery__slider .swiper-slide img {
	-o-object-position: center;
	-o-object-fit: cover;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

/* 次ページボタンのスタイル */

.p-gallery__slider .swiper-button-next {
	background-image: url(../img/common/button-next.png);
	background-size: cover;
	height: 1.875rem;
	width: 1.875rem;
}

/* 前ページボタンのスタイル */

.p-gallery__slider .swiper-button-prev {
	background-image: url(../img/common/button-prev.png);
	background-size: cover;
	height: 1.875rem;
	width: 1.875rem;
}

.p-gallery__slider .swiper-button-next::after,
.p-gallery__slider .swiper-button-prev::after {
	content: none !important;
}

.p-gallery__thumbs {
	margin-top: 2.5rem;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

.p-gallery__thumbs .swiper-slide {
	position: relative;
	width: 43.466666%;
}

.p-gallery__thumbs .swiper-slide::before {
	content: "";
	display: block;
	padding-top: 100%;
}

.p-gallery__thumbs .swiper-slide-active {
	opacity: 1;
}

.p-gallery__thumbs .swiper-slide img {
	-o-object-position: center;
	-o-object-fit: cover;
	cursor: pointer;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-header {
	align-items: center;
	background-color: rgba(17, 17, 17, 0.5);
	display: flex;
	height: 3.125rem;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.p-header.color-change {
	background-color: #111111;
	transition: .3s;
}

.p-header__logo img {
	position: relative;
	width: 4.375rem;
	z-index: 100;
}

.p-header__hamburger {
	display: block;
}

.p-mv {
	position: relative;
}

.p-mv::before {
	background-color: rgba(17, 17, 17, 0.2);
	content: "";
	display: block;
	height: 100vh;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 10;
}

.p-mv__wrapper {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 20;
}

.p-mv__main-title {
	font-size: 1.75rem;
	font-weight: bold;
	letter-spacing: 0.01785714em;
	line-height: 1;
}

.p-mv__sub-title {
	font-size: 1.25rem;
	font-weight: bold;
	letter-spacing: 0.025em;
	line-height: 1;
	margin-top: 1.5rem;
}

.p-mv .swiper-slide-active .slide-img,
.p-mv .swiper-slide-duplicate-active .slide-img,
.p-mv .swiper-slide-prev .slide-img {
	-webkit-animation: zoomUp 10s linear 0s 1 normal both;
	animation: zoomUp 10s linear 0s 1 normal both;
}

.p-mv .slide-img img {
	-o-object-position: center;
	-o-object-fit: cover;
	display: block;
	height: 100vh;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

.p-news-info__box {
	align-items: center;
	display: flex;
}

.p-news-info__date {
	font-size: 1rem;
	margin-right: 2rem;
}

.p-news-info__category {
	border: 1px solid #fff;
	display: inline-block;
	font-size: 0.875rem;
	margin-right: 3.8125rem;
	padding: 0.375rem;
	text-align: center;
	width: 6.25rem;
}

.p-news-info__title {
	display: block;
	font-size: 1rem;
	line-height: 1.4375;
	margin-top: 1rem;
}

.p-news__inner {
	padding-left: 20px;
	padding-right: 20px;
}

.p-news__info:not(:first-child) {
	margin-top: 2rem;
}

.p-news__button {
	background-color: #3d3d3d;
	border: 1px solid #fff;
	display: block;
	font-size: 1.25rem;
	letter-spacing: 0.1em;
	line-height: 1.45;
	margin-top: 1.75rem;
	padding: 0.6875rem 0;
	text-align: center;
}

.p-overview-content {
	padding: 0 20px 1.3125rem;
}

.p-overview-content__title {
	font-size: 1.25rem;
	font-weight: normal;
	letter-spacing: 0.1em;
	line-height: 1.45;
	text-align: center;
}

.p-overview-content__text {
	font-size: 1rem;
	letter-spacing: 0.125em;
	line-height: 1.4375;
	margin-top: 1.5rem;
}

.p-overview-content__button {
	margin-top: 1rem;
}

.p-overview-info__wrapper {
	border-bottom: 1px solid #fff;
	display: flex;
	font-size: 1rem;
}

.p-overview-info__title {
	line-height: 1.3125;
	padding-bottom: 1.5rem;
	padding-left: 0.3125rem;
	padding-top: 1.0625rem;
	width: 7.125rem;
}

.p-overview-info__text {
	flex: 1;
	letter-spacing: 0.0625em;
	line-height: 1.5;
	padding-bottom: 1.1875rem;
	padding-top: 1.0625rem;
}

.p-overview {
	position: relative;
}

.p-overview::before {
	background-image: linear-gradient(to top left, transparent 49.9%, rgba(249, 248, 113, 0.5) 50%, rgba(249, 248, 113, 0.5) calc(50% + 1px), transparent calc(50.1% + 1px));
	content: "";
	display: block;
	height: 200%;
	position: absolute;
	top: -36.25rem;
	width: 100%;
	z-index: -2;
}

.p-overview__wrapper {
	background-color: #3d3d3d;
	margin-top: 3rem;
}

.p-overview__inner {
	height: inherit;
	margin: 0 auto;
	max-width: 100%;
	width: 1150px;
}

.p-overview__content {
	margin-top: 1.5rem;
}

.p-overview__img {
	position: relative;
	width: 100%;
}

.p-overview__img::before {
	content: "";
	display: block;
	padding-top: 69.6%;
}

.p-overview__img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-pagenavi {
	font-size: 1rem;
	text-align: center;
}

.p-pagenavi .nextpostslink,
.p-pagenavi .previouspostslink {
	border: 1px solid #fff;
	padding: 0 0.75rem;
	transition: .3s;
}

.p-pagenavi .page {
	border: 1px solid #fff;
	padding: 0 0.5rem;
	transition: .3s;
}

.p-pagenavi .wp-pagenavi span.current {
	background-color: #fff;
	border: 1px solid #fff;
	color: #333;
	font-weight: 400;
	padding: 0 0.5rem;
}

.p-pagenavi .wp-pagenavi a:hover {
	border-color: initial;
}

.p-post-links {
	text-align: center;
}

.p-post-links__post-link {
	display: inline-block;
}

.p-post-links__archive-link,
.p-post-links__post-link a {
	border: 1px solid #fff;
	display: inline-block;
	padding: 0 0.75rem;
	transition: .3s;
}

.p-post-links__archive-link {
	margin: 0 3rem;
}

.p-related-article__title {
	background-color: #3d3d3d;
	border: 1px solid #fff;
	font-size: 1rem;
	letter-spacing: 0.125em;
	line-height: 1.4375;
	padding: 0.5625rem 0;
	text-align: center;
}

.p-related-article__cards {
	margin-top: 2rem;
}

.p-search {
	border: 1px solid #fff;
	margin: 0 auto;
	padding: 1.25rem;
}

.p-search__main-title {
	font-size: 1.25rem;
	font-weight: bold;
}

.p-search__wrapper {
	margin-top: 1.125rem;
}

.p-search__title {
	font-size: 1rem;
	font-weight: bold;
}

.p-search__button {
	margin-top: 1.125rem;
}

.p-section-title {
	position: relative;
}

.p-section-title__main {
	font-size: 1.25rem;
	font-weight: normal;
	letter-spacing: 0.1em;
	line-height: 1.45;
	text-align: center;
}

.p-section-title__sub {
	color: rgba(249, 248, 113, 0.2);
	display: inline-block;
	font-family: "Noto Serif JP", serif;
	font-size: 3.125rem;
	left: 50%;
	letter-spacing: 0.04em;
	line-height: 1.44;
	position: absolute;
	top: -3.125rem;
	transform: translateX(-50%);
}

.p-single-content h2,
.p-single-content h3,
.p-single-content ul,
.p-single-content ol,
.p-single-content p,
.p-single-content .wp-block-image {
	margin-top: 1.5rem;
}

.p-single-content .wp-block-image {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	position: relative;
	width: 100vw;
}

.p-single-content .wp-block-image::before {
	content: "";
	display: block;
	padding-top: 66.933333%;
}

.p-single-content .wp-block-image img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-single-content h2 {
	border-left: 3px solid #fff;
	font-size: 1.25rem;
	font-weight: normal;
	letter-spacing: 0.1em;
	line-height: 1.45;
	padding-left: 0.4375rem;
}

.p-single-content h3 {
	border-bottom: 3px solid #fff;
	display: inline-block;
	font-size: 1.125rem;
	font-weight: normal;
	letter-spacing: 0.11111111em;
	line-height: 1.44444;
	padding-bottom: 0.125rem;
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	position: relative;
}

.p-single-content h3::before {
	background-color: #F9F871;
	bottom: -3px;
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	width: 4.8125rem;
}

.p-single-content p,
.p-single-content ul,
.p-single-content ol {
	font-size: 1rem;
	line-height: 2.1875;
}

.p-single-content ul {
	list-style: disc;
	margin-left: 1.25rem;
}

.p-single-content ol {
	counter-reset: item;
}

.p-single-content ol li::before {
	content: counter(item);
	counter-increment: item;
	padding-right: 0.75rem;
}

.p-single {
	overflow-x: hidden;
}

.p-single__inner {
	height: inherit;
	margin: 0 auto;
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	width: 540px;
}

.p-single__title {
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.02em;
	line-height: 1.75;
}

.p-single__meta {
	margin-top: 0.375rem;
}

.p-single__time {
	display: inline-block;
	font-size: 1rem;
	letter-spacing: 0.025em;
	line-height: 1.01875;
	margin-right: 1.875rem;
}

.p-single__category {
	border: 1px solid #fff;
	display: inline-block;
	font-size: 1rem;
	letter-spacing: 0.125em;
	line-height: 1.4375;
	margin-top: 0.625rem;
	padding: 0.5rem 1.25rem;
}

.p-single__field {
	margin-top: 2rem;
}

.p-single__thumbnail {
	margin: 0 calc(50% - 50vw);
	margin-top: 1rem;
	position: relative;
	width: 100vw;
}

.p-single__thumbnail::before {
	content: "";
	display: block;
	padding-top: 66.933333%;
}

.p-single__thumbnail img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-sub-blog__cards {
	margin-top: 2.3125rem;
}

.p-sub-contact__inner {
	height: inherit;
	margin: 0 auto;
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	width: 540px;
}

.p-sub-contact__list:not(:first-of-type) {
	margin-top: 2.8125rem;
}

.p-sub-contactForm {
	font-size: 0.875rem;
	letter-spacing: 0.05em;
	line-height: 1.85;
}

.p-sub-contactForm__right {
	margin-top: 1rem;
}

.p-sub-contact__button {
	margin-top: 3rem;
	text-align: center;
}

input[type="text"].wpcf7-not-valid,
input[type="email"].wpcf7-not-valid,
textarea.wpcf7-not-valid {
	background-color: #FFDCDC;
}

.wpcf7 form.invalid .wpcf7-response-output {
	border: none;
}

.wpcf7-form {
	margin-bottom: 5.3125rem;
}

.wpcf7-response-output {
	color: #FF5757;
	text-align: center;
}

.p-sub-content-detail__wrapper:not(:first-child) {
	margin-top: 6.5rem;
}

.p-sub-content-detail__body {
	margin-top: 1.5rem;
}

.p-sub-content-detail__text {
	margin-top: 1.5rem;
}

.p-sub-content__text {
	margin-top: 1.5rem;
}

.p-sub-content__detail {
	margin-top: 5rem;
}

.p-sub-mv {
	position: relative;
}

.p-sub-mv::before {
	background-color: rgba(17, 17, 17, 0.2);
	content: "";
	display: block;
	height: 23.125rem;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 10;
}

.p-sub-mv__wrapper {
	align-items: center;
	display: flex;
	height: 23.125rem;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 20;
}

.p-sub-mv__title {
	font-size: 1.875rem;
	font-weight: bold;
	letter-spacing: 0.0666667em;
	line-height: 1;
}

.p-sub-mv__img img {
	-o-object-position: center;
	-o-object-fit: cover;
	display: block;
	height: 23.125rem;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

.p-sub-news__inner {
	height: inherit;
	margin: 0 auto;
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	width: 540px;
}

.p-sub-overview {
	overflow-x: hidden;
}

.p-sub-overview__map {
	margin: 7.5rem calc(50% - 50vw) 0;
	position: relative;
	width: 100vw;
}

.p-sub-overview__map::before {
	content: "";
	display: block;
	padding-top: 80%;
}

.p-sub-overview__map iframe {
	-o-object-position: center;
	-o-object-fit: cover;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-sub-works__inner {
	height: inherit;
	margin: 0 auto;
	max-width: 100%;
	overflow-x: hidden;
	width: 1150px;
}

.p-sub-works__cards {
	margin-top: 1.0625rem;
}

.p-test {
	color: red;
	font-size: 1.25rem;
}

.p-test-content {
	border: 1px solid red;
	padding: 3.75rem 1.25rem;
}

.p-thanks {
	text-align: center;
}

.p-thanks__text {
	font-size: 1.25rem;
	letter-spacing: 0.1em;
	line-height: 1.45;
	margin-bottom: 5rem;
}

.p-thanks__button {
	text-align: center;
}

.p-works-card {
	display: block;
	position: relative;
}

.p-works-card__img {
	position: relative;
	width: 100%;
}

.p-works-card__img::before {
	content: "";
	display: block;
	padding-top: 66.47619%;
}

.p-works-card__img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-works-card__category {
	background-color: #111;
	letter-spacing: 0.125em;
	line-height: 1.4375;
	padding: 0.5rem 1.25rem;
	position: absolute;
	right: -0.0625rem;
	top: -0.0625rem;
}

.p-works-card__title {
	font-size: 1.25rem;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 1.75;
	margin-top: 0.75rem;
	text-align: center;
}

.p-works-cards__card {
	margin-top: 3rem;
}

.p-works-content {
	padding: 0 20px 1.3125rem;
}

.p-works-content__title {
	font-size: 1.25rem;
	font-weight: normal;
	letter-spacing: 0.1em;
	line-height: 1.45;
	text-align: center;
}

.p-works-content__text {
	font-size: 1rem;
	letter-spacing: 0.125em;
	line-height: 1.4375;
	margin-top: 1.5rem;
}

.p-works-content__button {
	margin-top: 1rem;
}

.p-works-slide {
	position: relative;
}

.p-works-slide .slide-img {
	position: relative;
	width: 100%;
}

.p-works-slide .slide-img::before {
	content: "";
	display: block;
	padding-top: 69.6%;
}

.p-works-slide .slide-img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-works-slide .swiper-pagination-bullet {
	background-color: #C4C4C4;
}

.p-works-slide .swiper-pagination-bullet-active {
	background-color: #F9F871;
}

.p-works-slide .swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: -1.5rem;
}

.p-works__wrapper {
	background-color: #3d3d3d;
	margin-top: 3rem;
}

.p-works__inner {
	height: inherit;
	margin: 0 auto;
	max-width: 100%;
	width: 1150px;
}

.p-works__content {
	margin-top: 1.5rem;
}

.u-hidden-pc {
	display: block;
}

.u-hidden-sp {
	display: none;
}

@media (prefers-reduced-motion: reduce) {

html:focus-within {
	scroll-behavior: auto;
}

*,
*::before,
*::after {
	-webkit-animation-duration: 0.01ms !important;
	-webkit-animation-iteration-count: 1 !important;
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	scroll-behavior: auto !important;
	transition-duration: 0.01ms !important;
}

}

@media screen and (min-width: 375px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 768px) {

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	width: 33.75rem;
}

html {
	font-size: 1.3913vw;
}

.l-404 {
	margin: 9.375rem 0;
}

.l-blog {
	margin-top: 13.875rem;
}

.l-contact {
	margin-top: 9.375rem;
}

.l-content {
	margin-top: 12.125rem;
}

.l-drawer {
	position: initial;
}

.l-gallery {
	margin-top: 2.5rem;
}

.l-inner {
	padding-left: 25px;
	padding-right: 25px;
	width: 1150px;
}

.l-news {
	margin-top: 2rem;
}

.l-pagenavi {
	margin-top: 6.5rem;
}

.l-post-links {
	margin-top: 6.5rem;
}

.l-related-article {
	margin-top: 6.5rem;
}

.l-single {
	margin-top: 5.6875rem;
}

.l-sub-blog {
	margin-top: 7.1875rem;
}

.l-sub-contact {
	margin-top: 7.1875rem;
}

.l-sub-content {
	margin-top: 4.3125rem;
}

.l-sub-news {
	margin-top: 4.3125rem;
}

.l-sub-overview {
	margin-top: 7.1875rem;
}

.l-sub-works {
	margin-top: 7.1875rem;
}

.l-thanks {
	margin: 9.375rem 0;
}

.l-works {
	margin-top: 13.3125rem;
}

.c-btn-contact {
	font-size: 1rem;
	padding: 1.25rem 0;
	transition: .3s;
	width: 22.5rem;
}

.c-btn-contact:hover {
	background-color: #333;
	color: #fff;
}

.c-button-main {
	display: inline-block;
	font-size: 1rem;
	line-height: 3.375rem;
	overflow: hidden;
	padding: 0.1875rem;
	position: relative;
	width: 22.5rem;
	z-index: 1;
}

.c-button-main:before {
	background-color: #fff;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: 0.3s ease-in-out;
	width: 0;
	z-index: -1;
}

.c-button-main:hover {
	color: #333;
	transition: 0.3s ease-in-out;
}

.c-button-main:hover:before {
	width: 100%;
}

.c-content-text--center {
	text-align: center;
}

.c-content-title {
	font-size: 1.5625rem;
	letter-spacing: 0.08em;
	line-height: 1.4;
	text-align: left;
}

.c-content-title--center {
	text-align: center;
}

.c-page-top-button {
	bottom: 2rem;
	right: 1.9375rem;
}

.c-page-top-button:hover {
	background-color: #333;
	cursor: pointer;
	transition: .3s;
}

.c-page-top-button:hover .c-page-top-button__img {
	background-image: url(../img/common/page-top-hover.png);
}

.c-test {
	color: green;
	font-size: 3.125rem;
}

.p-404__title {
	font-size: 3.75rem;
	letter-spacing: 0.033333em;
}

.p-404__text {
	font-size: 1.875rem;
	letter-spacing: 0.0666666em;
	line-height: 1.1666666;
}

.p-blog__title .p-section-title__sub {
	right: 0;
	top: -2.8125rem;
	transform: initial;
}

.p-blog__cards {
	margin-top: 3rem;
}

.p-blog__button {
	margin-top: 3rem;
}

.p-breadcrumb a {
	transition: .3s;
}

.p-breadcrumb a:hover {
	color: #F9F871;
}

.p-card:hover {
	background-color: #333;
	color: #fff;
}

.p-cards {
	display: flex;
	flex-wrap: wrap;
}

.p-cards__card {
	width: calc(33.3% - 1.5625rem * 2 /3);
}

.p-cards__card--related {
	width: calc(25% - 2.0625rem * 3 / 4);
}

.p-cards__card:not(:nth-child(3n)) {
	margin-right: 1.5625rem;
}

.p-cards__card--related:not(:nth-child(4n)) {
	margin-right: 2.0625rem;
}

.p-cards__card:not(:first-child),
.p-cards__card--related:not(:first-child) {
	margin-top: 0rem;
}

.p-cards__card:nth-child(n+4) {
	margin-top: 3rem;
}

.p-category__link:hover {
	color: #F9F871;
	transition: .3s;
}

.p-category__link--current:hover {
	color: #333;
}

.p-contact {
	padding: 9.25rem 0 9.1875rem;
}

.p-contact__title .p-section-title__sub {
	top: -5.9375rem;
	transform: initial;
}

.p-contact__text {
	margin-top: 1.5rem;
}

.p-contact__button {
	margin-top: 3.8125rem;
}

.p-content::before {
	height: 75.375rem;
	top: -6.6875rem;
	width: 95.390625%;
}

.p-content__title .p-section-title__sub {
	left: 0;
	top: -2.8125rem;
	transform: initial;
}

.p-content__link {
	font-size: 1.5625rem;
	letter-spacing: 0.04em;
	width: 25%;
}

.p-content__link::before {
	padding-top: 100%;
}

.p-content__link::after {
	background-color: rgba(255, 255, 255, 0);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .3s ease-in-out;
	width: 100%;
}

.p-content__link:hover::after {
	background-color: rgba(255, 255, 255, 0.6);
}

.p-drawer {
	background-color: initial;
	display: block;
	height: initial;
	height: inherit;
	width: initial;
}

.p-drawer__items {
	display: flex;
	height: inherit;
	position: initial;
	transform: initial;
	width: initial;
}

.p-drawer__item a {
	align-items: center;
	display: flex;
	font-size: 1rem;
	height: inherit;
	padding: 0 1rem;
	position: relative;
}

.p-drawer__item a::before {
	background: #F9F871;
	bottom: 0.5rem;
	content: '';
	height: 1px;
	left: 10%; /*絶対配置で線の位置を決める*/
	position: absolute;
	transform: scale(0, 1); /*X方向0、Y方向1*/
	transform-origin: left top; /*アニメーションの指定*/
	transition: all .3s; /*線の形状*/
	width: 80%; /*左上基点*/
}

.p-drawer__item a:hover::before {
	transform: scale(1, 1); /*X方向にスケール拡大*/
}

.p-drawer__item--top {
	display: none;
}

.p-drawer__item--contact a {
	background-color: #fff;
	color: #333;
	margin-left: 1rem;
	padding: 0 2rem;
	transition: .3s;
}

.p-drawer__item--contact a:hover {
	background-color: #333;
	color: #fff;
}

.p-drawer__item.p-drawer__item--contact a::before {
	display: none;
}

.p-field__text {
	padding: 2.75rem 1.375rem 2rem;
}

.p-footer-nav__items {
	display: flex;
}

.p-footer-nav__item a {
	align-items: center;
	display: flex;
	font-size: 1rem;
	height: inherit;
	padding: 0 1rem;
	position: relative;
}

.p-footer-nav__item a::before {
	background: #F9F871;
	bottom: -0.5rem;
	content: '';
	height: 1px;
	left: 10%; /*絶対配置で線の位置を決める*/
	position: absolute;
	transform: scale(0, 1); /*X方向0、Y方向1*/
	transform-origin: left top; /*アニメーションの指定*/
	transition: all .3s; /*線の形状*/
	width: 80%; /*左上基点*/
}

.p-footer-nav__item a:hover::before {
	transform: scale(1, 1); /*X方向にスケール拡大*/
}

.p-footer-nav__item--top {
	display: none;
}

.p-footer {
	padding-bottom: 1.625rem;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 2rem;
}

.p-footer__wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
	text-align: left;
}

.p-footer__copyright {
	font-size: 0.9375rem;
	letter-spacing: 0.08em;
	line-height: 2.333333;
	margin-top: 4.0625rem;
}

.p-gallery__inner {
	max-width: 850px;
	padding-left: 25px;
	padding-right: 25px;
}

.p-gallery__slider .swiper-slide::before {
	padding-top: 53.441802%;
}

.p-gallery__slider .swiper-button-next {
	height: 3.125rem;
	width: 3.125rem;
}

.p-gallery__slider .swiper-button-prev {
	height: 3.125rem;
	width: 3.125rem;
}

.p-gallery__thumbs .swiper-slide {
	width: 11.625%;
}

.p-header {
	padding-right: 0;
}

.p-header__logo img {
	width: 5.875rem;
}

.p-header__hamburger {
	display: none;
}

.p-mv__main-title {
	font-size: 3.125rem;
	letter-spacing: 0.01em;
}

.p-mv__sub-title {
	font-size: 1.5625rem;
	letter-spacing: 0.02em;
}

.p-news-info {
	align-items: flex-start;
	display: flex;
}

.p-news-info__date {
	margin-right: 3rem;
}

.p-news-info__title {
	flex: 1;
	margin-right: 3rem;
	margin-top: initial;
	padding-top: 0.3125rem;
	transition: .3s;
}

.p-news-info__title:hover {
	color: #F9F871;
}

.p-news__inner {
	align-items: flex-start;
	display: flex;
	margin: 0 auto;
	max-width: 65.125rem;
	padding-left: 25px;
	padding-right: 25px;
}

.p-news__info {
	flex: 1;
}

.p-news__button {
	background-color: #fff;
	color: #333;
	font-size: 1rem;
	font-weight: 500;
	margin-left: auto;
	margin-top: initial;
	overflow: hidden;
	padding: 0.3125rem 1.6875rem;
	position: relative;
	z-index: 1;
}

.p-news__button:before {
	background-color: #333;
	content: '';
	height: 100%;
	left: -0.0625rem;
	position: absolute;
	top: 0;
	transition: 0.3s ease-in-out;
	width: 0;
	z-index: -1;
}

.p-news__button:hover {
	color: #fff;
	transition: 0.3s ease-in-out;
}

.p-news__button:hover:before {
	width: 100%;
}

.p-overview-content {
	padding: 0;
	width: 46.363636%;
}

.p-overview-content__title {
	font-size: 1.5625rem;
	letter-spacing: 0.02em;
	line-height: 1;
	text-align: left;
}

.p-overview-content__text {
	letter-spacing: 0.03725em;
	line-height: 2.1875;
	margin-top: 3rem;
}

.p-overview-content__button {
	margin-top: 3rem;
}

.p-overview-info__title {
	padding-left: 0;
	width: 9.5rem;
}

.p-overview::before {
	height: 77.5rem;
	top: -13.6875rem;
	width: 95.390625%;
}

.p-overview__title .p-section-title__sub {
	top: -2.8125rem;
	transform: initial;
}

.p-overview__wrapper {
	background-color: initial;
	padding: 5rem 0;
	position: relative;
}

.p-overview__wrapper::before {
	background-color: #3d3d3d;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 70%;
	z-index: -1;
}

.p-overview__inner {
	align-items: center;
	display: flex;
	flex-direction: row-reverse;
	padding-left: 25px;
	padding-right: 25px;
}

.p-overview__content {
	margin-right: 2rem;
	margin-top: initial;
}

.p-overview__img {
	width: 50.636364%;
}

.p-overview__img::before {
	padding-top: 69.83842%;
}

.p-pagenavi .nextpostslink:hover,
.p-pagenavi .previouspostslink:hover {
	background-color: #fff;
	border: 1px solid #fff;
	color: #333;
}

.p-pagenavi .page:hover {
	background-color: #fff;
	border: 1px solid #fff;
	color: #333;
}

.p-post-links__archive-link:hover,
.p-post-links__post-link a:hover {
	background-color: #fff;
	border: 1px solid #fff;
	color: #333;
}

.p-related-article__cards {
	margin-top: 5rem;
}

.p-section-title__main {
	font-size: 1.875rem;
	letter-spacing: 0.0666667em;
	line-height: 1.16666667;
}

.p-section-title__sub {
	font-size: 6.875rem;
	left: initial;
	letter-spacing: 0.01818182em;
	transform: initial;
}

.p-single-content h2,
.p-single-content h3,
.p-single-content ul,
.p-single-content ol,
.p-single-content p,
.p-single-content .wp-block-image {
	margin-top: 2rem;
}

.p-single-content .wp-block-image {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

.p-single-content .wp-block-image::before {
	padding-top: 53.441802%;
}

.p-single__inner {
	padding-left: 25px;
	padding-right: 25px;
	width: 850px;
}

.p-single__title {
	font-size: 1.4375rem;
	font-weight: 500;
	letter-spacing: 0.0173913em;
	line-height: 1.52173913;
}

.p-single__meta {
	margin-top: 1.375rem;
}

.p-single__category--blog {
	transition: .3s ease-in-out;
}

.p-single__category--blog:hover {
	background-color: #fff;
	color: #333;
}

.p-single__field {
	margin-top: 3rem;
}

.p-single__field:first-of-type {
	margin-top: 5rem;
}

.p-single__thumbnail {
	margin: 2rem 0 0;
	width: 100%;
}

.p-single__thumbnail::before {
	padding-top: 53.441802%;
}

.p-sub-blog__cards {
	margin-top: 2.5rem;
}

.p-sub-contact__inner {
	max-width: 935px;
	padding-left: 25px;
	padding-right: 25px;
	width: 81.21875%;
}

.p-sub-contactForm {
	display: flex;
	justify-content: center;
	position: relative;
}

.p-sub-contactForm__left {
	left: 0;
	margin-right: 1.5rem;
	padding-top: 0.6875rem;
	position: absolute;
	text-align: right;
	width: 9.0625rem;
}

.p-sub-contactForm__right {
	margin-top: 0;
}

.p-sub-contact__button {
	margin-top: 3.5rem;
}

.wpcf7-form {
	margin-bottom: 9.375rem;
}

.wpcf7-response-output {
	font-size: 1rem;
}

.p-sub-content-detail__wrapper {
	display: flex;
	justify-content: space-between;
}

.p-sub-content-detail__wrapper:nth-child(2n) {
	flex-direction: row-reverse;
}

.p-sub-content-detail__img {
	width: 50%;
}

.p-sub-content-detail__body {
	margin-top: 0;
	width: 46.36363636%;
}

.p-sub-content__detail {
	margin-top: 9.375rem;
}

.p-sub-mv::before {
	height: 26.5625rem;
}

.p-sub-mv__wrapper {
	height: 26.5625rem;
}

.p-sub-mv__title {
	font-size: 2.1875rem;
	letter-spacing: 0.05714286em;
}

.p-sub-mv__img img {
	height: 26.5625rem;
}

.p-sub-news__inner {
	max-width: 100%;
	padding-left: 25px;
	padding-right: 25px;
	width: 910px;
}

.p-sub-overview__map {
	margin: 5rem 0 0;
	width: 100%;
}

.p-sub-overview__map::before {
	padding-top: 33.36363636%;
}

.p-sub-works__inner {
	padding-left: 25px;
	padding-right: 25px;
}

.p-sub-works__cards {
	margin-top: 2.5rem;
}

.p-test {
	color: green;
	font-size: 3.125rem;
}

.p-thanks__text {
	font-size: 1.875rem;
	letter-spacing: 0.0666666em;
	line-height: 1.1666666;
}

.p-works-card {
	width: 47.72727272%;
}

.p-works-card .p-works-card__img::after {
	background-color: rgba(255, 255, 255, 0);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: .3s;
	width: 100%;
	z-index: 10;
}

.p-works-card:hover .p-works-card__img::after {
	background-color: rgba(255, 255, 255, 0.2);
}

.p-works-card:hover .p-works-card__title {
	color: #F9F871;
	transition: .3s;
}

.p-works-cards {
	display: flex;
	flex-wrap: wrap;
}

.p-works-cards__card {
	margin-top: 0;
	width: calc(50% - 3rem * 1 / 2);
}

.p-works-cards__card:nth-of-type(2n+1) {
	margin-right: 3rem;
}

.p-works-cards__card:nth-of-type(n+3) {
	margin-top: 7.125rem;
}

.p-works-content {
	padding: 0;
	width: 46.363636%;
}

.p-works-content__title {
	font-size: 1.5625rem;
	letter-spacing: 0.02em;
	line-height: 1;
	text-align: left;
}

.p-works-content__text {
	letter-spacing: 0.03725em;
	line-height: 2.1875;
	margin-top: 3rem;
}

.p-works-content__button {
	margin-top: 3rem;
}

.p-works-slide {
	width: 50.636364%;
}

.p-works-slide .slide-img::before {
	padding-top: 69.83842%;
}

.p-works-slide .swiper-pagination-bullets.swiper-pagination-horizontal {
	left: -2rem;
}

.p-works__title .p-section-title__sub {
	right: 0;
	top: -2.8125rem;
	transform: initial;
}

.p-works__wrapper {
	background-color: initial;
	padding: 5rem 0;
	position: relative;
}

.p-works__wrapper::before {
	background-color: #3d3d3d;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 70%;
	z-index: -1;
}

.p-works__inner {
	align-items: center;
	display: flex;
	padding-left: 25px;
	padding-right: 25px;
}

.p-works__content {
	margin-left: 2rem;
	margin-top: initial;
}

.u-hidden-pc {
	display: none;
}

.u-hidden-sp {
	display: block;
}

}

@media (min-width: 1150px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 1150px) {

.c-test {
	color: blue;
}

.p-test {
	color: blue;
}

}

@media screen and (min-width: 1280px) {

.c-test {
	color: brown;
}

.p-test {
	color: brown;
}

}

@-webkit-keyframes zoomUp {

0% {
	transform: scale(1);
}

100% {
	transform: scale(1.15);
}

}

@keyframes zoomUp {

0% {
	transform: scale(1);
}

100% {
	transform: scale(1.15);
}

}

