.p-cards {
  @include mq(tab) {
    display: flex;
    flex-wrap: wrap;
  }
}

.p-cards__card {
  @include mq(tab) {
    width: 31%;
  }
}

.p-cards__card:not(:nth-child(3n)) {
  @include mq(tab) {
    margin-right: rem(25);
  }
}

.p-cards__card:not(:first-child) {
  margin-top: rem(24);
  @include mq(tab) {
    margin-top: rem(0);
  }
}

.p-cards__card:nth-child(n+4) {
  @include mq(tab) {
    margin-top: rem(48);
  }
}