.p-cards {
  @include mq(tab) {
    display: flex;
  }
}

.p-cards__card {
  flex: 1;
}

.p-cards__card:not(:nth-child(3n)) {
  @include mq(tab) {
    margin-right: rem(25);
  }
}

.p-cards__card:not(:first-child) {
  margin-top: rem(24);
  @include mq(tab) {
    margin-top: rem(0);
  }
}