.p-cards {
  @include mq(tab) {
    display: flex;
    flex-wrap: wrap;
  }
}

.p-cards__card {
  @include mq(tab) {
    width: calc(33.3% - #{rem(25)} * 2 /3);
  }
}

.p-cards__card--related {
  @include mq(tab) {
    width: calc(25% - #{rem(33)} * 3 / 4);
  }
}

.p-cards__card:not(:nth-child(3n)) {
  @include mq(tab) {
    margin-right: rem(25);
  }
}


.p-cards__card--related:not(:nth-child(4n)) {
  @include mq(tab) {
    margin-right: rem(33);
  }
}

.p-cards__card:not(:first-child),
.p-cards__card--related:not(:first-child) {
  margin-top: rem(24);
  @include mq(tab) {
    margin-top: rem(0);
  }
}

.p-cards__card:nth-child(n+4) {
  @include mq(tab) {
    margin-top: rem(48);
  }
}