.p-header {
  width: 100%;
  height: rem(50);
  background-color: rgba($mask-bg, 0.5);
  padding-right: $padding-sp;
	padding-left: $padding-sp;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mq(tab) {
    padding-right: 0;
  }
}

.p-header.color-change {
  background-color: rgba($mask-bg, 1);
  transition: .3s;
}

.p-header__logo img {
  width: rem(70);
  position: relative;
  z-index: $l-header-logo;
  @include mq(tab) {
    width: rem(94);
  }
}

.p-header__hamburger {
  display: block;
  @include mq(tab) {
    display: none;
  }
}