.p-news-info {
  @include mq(tab) {
    display: flex;
    align-items: flex-start;
  }
}

.p-news-info__box {
  display: flex;
  align-items: center;
}

.p-news-info__date {
  margin-right: rem(32);
  font-size: rem(16);
  @include mq(tab) {
    margin-right: rem(48);
  }
}

.p-news-info__category {
  display: inline-block;
  font-size: rem(14);
  padding: rem(6);
  border: 1px solid $text-color;
  margin-right: rem(61);
  text-align: center;
  width: rem(100);
}

.p-news-info__title {
  display: block;
  margin-top: rem(16);
  line-height: 1.4375;
  font-size: rem(16);
  @include mq(tab) {
    padding-top: rem(5);
    margin-top: initial;
    flex: 1;
    margin-right: rem(48);
    transition: .3s;
  }
}

.p-news-info__title:hover {
  @include mq(tab) {
    color: $accent;
  }
}