.p-overview {
  position: relative;
}
.p-overview::before {
  position: absolute;
  display: block;
  content: "";
  z-index: -2;
  top: rem(-580);
  width: 100%;
  height: 200%;
  background-image: linear-gradient(to top left, transparent 49.9%, rgba($accent, 0.5) 50%, rgba($accent, 0.5) calc(50% + 1px), transparent calc(50.1% + 1px));
  @include mq(tab) {
    top: rem(-219);
  width: 95.390625%;
  height: rem(1240);
  }
}

.p-overview__title .p-section-title__sub {
  @include mq(tab) {
    transform: initial;
    top: rem(-45);
  }
}

.p-overview__wrapper {
  margin-top: rem(48);
  background-color: $background-sub;
  @include mq(tab) {
    background-color: initial;
    padding: rem(80) 0;
    position: relative;
  }
}

.p-overview__wrapper::before {
  @include mq(tab) {
    content: "";
    height: 100%;
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $background-sub;
    z-index: -1;
  }
}

.p-overview__inner {
  margin: 0 auto;
	max-width: 100%;
	width: 1150px;
	height: inherit;
  @include mq(tab) {
    padding-right: $padding-pc;
		padding-left: $padding-pc;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.p-overview__content {
  margin-top: rem(24);
  @include mq(tab) {
    margin-top: initial;
    margin-right: rem(32);
  }
}

.p-overview__img {
  width: 100%;
  position: relative;
  @include mq(tab) {
    width: 50.636364%;
  }
}

.p-overview__img::before {
  content: "";
  display: block;
  padding-top: 69.6%;
  @include mq(tab) {
    padding-top: 69.83842%;
  }
}

.p-overview__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
