.p-overview-content {
  padding: 0 $padding-sp rem(21);
  @include mq(tab) {
    width: 46.363636%;
    padding: 0;
  }
}

.p-overview-content__title {
  font-size: rem(20);
  letter-spacing: 0.1em;
  line-height: 1.45;
  text-align: center;
  font-weight: normal;
  @include mq(tab) {
    font-size: rem(25);
    letter-spacing: 0.02em;
    line-height: 1;
    text-align: left;
  }
}

.p-overview-content__text {
  margin-top: rem(24);
  letter-spacing: 0.125em;
  line-height: 1.4375;
  font-size: rem(16);
  @include mq(tab) {
    margin-top: rem(48);
    line-height: 2.1875;
    letter-spacing: 0.03725em;
  }
}

.p-overview-content__button {
  margin-top: rem(16);
  @include mq(tab) {
    margin-top: rem(48);
  }
}