.p-thanks {
  text-align: center;
}

.p-thanks__text {
  font-size: rem(20);
  letter-spacing: 0.1em;
  line-height: 1.45;
  margin-bottom: rem(80);
  @include mq(tab) {
    font-size: rem(30);
    letter-spacing: 0.0666666em;
    line-height: 1.1666666;
  }
}

.p-thanks__button {
  margin: 0 auto;
}