// 色
$background: #000; // 背景
$mask-bg: #111; // ヘッダー背景
$background-sub: #3d3d3d; // 背景サブ
$text-color: #fff; // テキスト色
$text-sub: #333; // テキストサブ
$accent: #F9F871; //アクセントカラー
$accent-sub: #FFBA6A; //アクセントカラー

// マウスホバー
$opacity: 0.7; // 透過度

// フォント
$font-family-base: 'Noto Sans JP', sans-serif;// ベースフォント
$font-family-sub: 'Noto Serif JP', serif;// サブフォント
$font-size-base: 16px; // ベースフォントサイズ
$font-weight-base: 400; // ベースフォントウェイト
$lh: 1.6; // ベース行間

// ---
// レイアウト
// ---
$l-tab: 768px; // タブレットサイズ
$l-inner: 1100px; // インナー幅
$l-pc: 1280px; // パソコン幅

// ブレークポイント（PC基準）
$breakpoints: (
	"sp": "screen and (min-width: 375px)",
	"tab": "screen and (min-width: #{$l-tab})",
	"pc": "screen and (min-width: #{$l-inner})",
	"lg": "screen and (min-width: #{$l-pc})",

);

$padding-pc: 25px; // タブレット時の余白
$padding-sp: 20px; // スマホ時の余白

// z-index
$l-mv-mask: 10;
$l-mv-title: 20;
$l-header: 50;
$l-drawer: 90;
$l-header-logo: 100;
$l-hamburger: 100;

