.c-button-main {
  padding: rem(10);
  display: block;
  font-size: rem(20);
  line-height: 1.45;
  border: 1px solid $text-color;
  background-color: $text-sub;
  text-align: center;
  @include mq(tab) {
    display: inline-block;
    font-size: rem(16);
    width: rem(360);
    position: relative;
    z-index: 1;
    overflow: hidden;
    line-height: rem(54);
    padding: rem(3);
  }
}

.c-button-main:before {
  @include mq(tab) {
    content: '';
    width: 0;
    display: block;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: $text-color;
    transition: 0.3s ease-in-out;
  }
}

.c-button-main:hover {
  @include mq(tab) {
    color: $text-sub;
    transition: 0.3s ease-in-out;
    
  }
}

.c-button-main:hover:before {
  @include mq(tab) { 
    width: 100%;
  }
}